/* line 1, ../../private/sass/style.sass */
body {
  background: lime;
}

/* line 3, ../../private/sass/style.sass */
html {
  background: magenta;
}

/* line 5, ../../private/sass/style.sass */
.hidden {
  display: none;
}
